nav .switch label {
    color: #fff !important;
}

nav .switch label {
    font-size: 1.0rem;
    margin-right: 16px;
}

.weather-info {
    position: absolute;
    background-color: #fff;
    margin: 8px;
    padding: 0 8px;
    border: 1px solid #9e9e9e;
    text-transform: capitalize;
}
.weather-info img {
    margin-right: 8px;
}
