{
    "extends": [
      "eslint:recommended",
      "plugin:react/recommended",
      "plugin:react-hooks/recommended"
    ],
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true
    },
    "plugins": [
        "react",
        "react-hooks"
    ],
    "rules": {
        "strict": 0,
        "react/jsx-uses-react": 1,
        "react/prop-types": 0
    },
    "parserOptions": {
      "ecmaFeatures": {
          "jsx": true
      }
    },
    "globals": {
        "AbortController": "readonly",
        "Promise": "readonly",
        "jest": "readonly",
        "describe": "readonly",
        "it": "readonly",
        "expect": "readonly",
    },
    "settings": {
      "react": {
        "version": "detect"
      }
    }
}
