{
    "extends": "eslint:recommended",
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true
    },
    "plugins": [
        "react"
    ],
    "rules": {
        "no-var": 2,
        "strict": 0,
        "react/jsx-uses-react": 1
    },
    "ecmaFeatures": {
        "jsx": true
    },
    "globals": {
        "AbortController": "readonly"
    }
}
